<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>
	<% for(var i=0; i<style.length; ++i) { %>
		<%- '<link rel="stylesheet" href="css/'+ style[i] +'.css"></link>' %>
	<% } %>
</head>
<body>
	<div id="load">
		<div id="loading">
			<canvas id="wave" width="566" height="800"></canvas>
			<%- '<img id="hogee" width="400" height="800" src="' +hogee +'" alt="ほげぇ">' %>


			<div id="percent"></div>
			<script src="js/loading.js"></script>
		</div>
	</div>

	<main>
		<header>
			<div id="top">
				<h1>
					<%= header[0] %>
					<% for(var i=1; i<header.length; ++i) { %>
						<br><%= header[i] %>
					<% } %>
				</h1>
			</div>
			<div id="introduction">
				<h2>イントロダクション</h2>		
				<% for(var i=0; i<introduction.length; ++i) { %>
					<p><%= introduction[i][0] %>
					<% for(var j=1; j<introduction[i].length; ++j) { %>
						<br><%= introduction[i][j] %>
					<% } %>
				<% } %>
			</div>
		</header>

		<section id="about">
			<div>
				<div class="decoration"></div>
				<h2>噴水企画ってなに？</h2>
				<%= about[0] %>
				<% for(var i=1; i<about.length; ++i) { %>
					<br><%= about[i] %>
				<% } %>
			</div>
		</section>

	</main>

	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<% for(var i=0; i<script.length; ++i) { %>
		<%- '<script src="js/'+ script[i] +'.js"></script>' %>
	<% } %>

</body>
</html>