<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title><%= title %></title>

	<%- '<meta name="keywords" content="' %><%= keywords %><%- '">' %>
	<%- '<meta name="description" content="' %><%= description %><%- '">' %>
	<%- '<meta name="author" content="' %><%= author %><%- '">' %>

	<%- '<meta property="og:title" content="' %><%= ogp.title %><%- '">' %>
	<%- '<meta property="og:type" content="' %><%= ogp.type %><%- '">' %>
	<%- '<meta property="og:url" content="' %><%= ogp.url %><%- '">' %>
	<%- '<meta property="og:image" content="' %><%= ogp.image %><%- '">' %>
	<%- '<meta property="og:description" content="' %><%= ogp.description %><%- '">' %>
	<%- '<meta property="og:site_name" content="' %><%= ogp.site_name %><%- '">' %>
	<%- '<meta property="fb:app_id" content="' %><%= ogp.app_id %><%- '">' %>
	<%- '<meta property="twitter:site" content="' %><%= ogp.twitter %><%- '">' %>
	<%- '<meta property="twitter:card" content="' %><%= ogp.card %><%- '">' %>

	<meta name="viewport" content="width=device-width,initial-scale=1.0">
	<meta name="apple-mobile-web-app-capable" content="yes">

	<link rel="shortcut icon" href="favicon.ico" type="favicon.icon">
	<link rel="icon" href="favicon.ico" type="favicon.icon">
	<link rel="apple-touch-icon" href="webclip.png">

	<% for(var i=0; i<style.length; ++i) { %>
		<%- '<link rel="stylesheet" href="css/'+ style[i] +'">' %>
	<% } %>

<script src="//typesquare.com/accessor/script/typesquare.js?Kx3pTJNYFhs%3D"></script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-36723060-5','auto');ga('send','pageview');
</script>

</head>
<body>
	<div id="load">
		<div id="loading">
			<canvas id="wave" width="566" height="800"></canvas>
			<%- '<img id="hogee" width="400" height="800" src="' +hogee +'" alt="ほげぇ">' %>

			<div id="percent"></div>
			<noscript>このWebサイトはJavaScriptを有効にして御覧ください。</noscript>
			<script src="js/loading.js"></script>
		</div>
	</div>

	<main>
		<header class="fixbf">
			<div id="top">
				<h1>
					<img src="img/welcome.png" srcset="img/welcome@2x.png 2x" alt="WELCOME TO FUNSUIKIKAKU&#39;S WEBSITE">
				</h1>
			</div>
			<div id="introduction">
				<h2>イントロダクション</h2>	
				<% for(var i=0; i<introduction.length; ++i) { %>
					<p><%= introduction[i][0] %>
					<% for(var j=1; j<introduction[i].length; ++j) { %>
						<br><%= introduction[i][j] %>
					<% } %>
				<% } %>
			</div>
			<video>
				<source src="video/funsui.webm" type="video/webm">
				<source src="video/funsui.mp4" type="video/mp4">
			</video>
			<canvas id="vcanvas"></canvas>
		</header>

		<section id="about" class="fixbf">
			<div>
				<div class="decoration"></div>
				<h2>噴水企画ってなに？</h2>
				<%= about[0] %>
				<% for(var i=1; i<about.length; ++i) { %>
					<br><%= about[i] %>
				<% } %>
			</div>
		</section>

		<section id="variety" class="fixbf">
			<div class="logo">
				<img src="img/logo.png" srcset="img/logo@2x.png 2x" alt="2014年ロゴマーク">
				<p>2014年ロゴマーク</p>
			</div>
			<div class="hogee">
				<img src="img/hogee.png" srcset="img/hogee@2x.png 2x" alt="2014年イメージキャラクター">
				<%- '<img src="img/hogee_c.png" srcset="img/hogee_c@2x.png 2x" alt="'%><%= variety.hogee %><%-'">' %>
				<p>イメージゆるキャラ・ほげぇ</p>
			</div>
			<div class="head">
				<img src="img/uirou.jpg" srcset="img/uirou@2x.jpg 2x" alt="2014年頭">
				<%- '<img src="img/uirou_c.png" srcset="img/uirou_c@2x.png 2x" alt="'%><%= variety.uirou %><%-'">' %>
				<p>2014年三研頭・ういろう</p>
			</div>
		</section>

		<section id="information">
			<div>
				<div class="decoration"></div>
				<h2>公演情報</h2>
				<%= information[0] %>
				<% for(var i=1; i<information.length; ++i) { %>
					<br><%= information[i] %>
				<% } %>
			</div>
		</section>

		<section id="darkknight">
			<div>
				<h2><img src="img/darkknight.png" srcset="img/darkknight@2x.png 2x" alt="ダークナイトニッポン"></h2>
				<% for(var i=0; i<darkknight.length; ++i) { %>
					<br><%= darkknight[i] %>
				<% } %>
				<br>
				<span>最新回！</span>
				<br>
				<a href="darkknight"><img id="DKNthumb" src="img/thumb/DKN.png" alt="ダークナイトニッポン"></a>
			</div>
		</section>

		<section id="poster" class="fixbf">
			<div>
				<p>
				<%= poster.content[0] %>
				<% for(var i=1; i<poster.content.length; ++i) { %>
					<br><%= poster.content[i] %>
				<% } %>
				</p>
				<div class="slider">
					<ul class="slides">
					<% for(var i=poster.num; i>0; --i) { %>
						<% if((poster.num - i) % 4 === 0) { %>
							<li class="slide">
						<% } %>
						<%- '<a href="img/poster0'+ (i < 10 ? "0"+i : i) +'.jpg" target="_blank"><img src="img/thumb/poster0'+ (i < 10 ? "0"+i : i) +'.png" srcset="img/thumb/poster0'+ (i < 10 ? "0"+i : i) +'@2x.png 2x"></a>' %>
					<% } %>
					</ul>
				</div>
			</div>
		</section>

		<section id="special" class="fixbf">
			<div>
				<p>
				<%= special.content[0] %>
				<% for(var i=1; i<special.content.length; ++i) { %>
					<br><%= special.content[i] %>
				<% } %>
				</p>
				<div class="slider">
					<ul class="slides">
					<% for(var i=special.num; i>0; --i) { %>
						<% if((special.num - i) % 4 === 0) { %>
							<li class="slide">
						<% } %>
						<%- '<a href="img/wall0'+ (i < 10 ? "0"+i : i) +'.jpg" target="_blank"><img src="img/thumb/wall0'+ (i < 10 ? "0"+i : i) +'.png" srcset="img/thumb/wall0'+ (i < 10 ? "0"+i : i) +'@2x.png 2x"></a>' %>
					<% } %>
					</ul>
				</div>
			</div>
		</section>

		<section id="contact">
			<div>
				<%= contact[0] %>
				<% for(var i=1; i<contact.length; ++i) { %>
					<br><%= contact[i] %>
				<% } %>

				<form id="mail" class="cancel">

					<label>
						<div>名前<small>（ペンネームも可）</small></div>
						<input type="text" name="name">
					</label>

					<label>
						<div>内容</div>
						<textarea name="content"></textarea>
					</label>

					<input type="submit" value="送信">
				</form>
				
			</div>
		</section>

	</main>

	<script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
	<% for(var i=0; i<script.length; ++i) { %>
		<%- '<script src="js/'+ script[i] +'"></script>' %>
	<% } %>

</body>
</html>